@CHARSET "UTF-8";

img.friend{
	float: left;
	width: 30px;
	height: 30px;
	margin: 0px 0px 0px 0px;
}

b.friendName{
	font-size: 30;
	color: #222222;
	text-align: left;
	font: bold;
}

div.friend{
	width: 100px;
	height: 100%;
	float: left;
	margin: 5px 0px 0px 0px;
}