@CHARSET "UTF-8";

div.friend{
	width: 100%;
	height: auto:
	position: relative;
}

div.name{
	width: 68%;
	height: auto;
	position: relative;
	float:right;
}

div.friendImage{
	width: 30%;
	height: auto;
	position: relative;
	float:left;
}

img.friend{
	width: 30px;
	height: 30px;
}

p{
	max-width: 100%;
	position: relative;
}