@CHARSET "UTF-8";

body{
	background-color: #DDDDDD;
}

div{
	overflow: scroll;
	margin: auto;
}

textarea{
	font-size: 30px;
}

/*
basic div structure
*/
#BasicDiv{
	margin: 1px auto;
	border: 1px solid #ccc;
	padding: 1%;
	margin: 5px 5px 5px 5px;
	position: relative;
}

#Outer {
    width: 85%;
    height: 80%
    position: relative;
}

/*
specific div layout
*/
div.GroupList{
	width: 10%;
	height: 700px;
	background: #DDDDDD;
	float: left;
	position: relative;
}

div.NewsList{
	width: 40%;
	height: 700px;
	background: #DDDDDD;
	float: left;
	position: relative;
}

div.RecommendationList{
	width: 20%;
	height: 700px;
	background: #DDDDDD;
	float: left;
	position: relative;
}

div.FriendList{
	width:14%;
	height: 700px;
	background: #DDDDDD;
	float: left;
	position: relative;
}