@CHARSET "UTF-8";

div.AddGroup{
	width: 90%;
	height: 15%;
	min-height:100px;
	overflow: scroll;
	background-color: #FFFFFF;
	border: 1px solid #555555;
	padding: 1%;
	margin: auto;
	position: relative;
}

div.LikeMovie{
	width: 90%;
	height: 450px;
	overflow: scroll;
	background-color: #FFFFFF;
	border: 1px solid #555555;
	padding: 1%;
	margin: auto;
	position: relative;
}

div.MakeFriend{
	width: 90%;
	height: 15%;
	min-height:100px;
	overflow: scroll;
	background-color: #FFFFFF;
	border: 1px solid #555555;
	padding: 1%;
	margin: auto;
	position: relative;
}

div.MovieReview{
	width: 90%;
	height: auto;
	overflow: scroll;
	background-color: #FFFFFF;
	border: 1px solid #555555;
	padding: 1%;
	margin: auto;
}

div.ShareMovie{
	width: 90%;
	height: auto;
	overflow: scroll;
	background-color: #FFFFFF;
	border: 1px solid #555555;
	padding: 1%;
	margin: auto;
	position: relative;
}

div.Tweet{
	width: 90%;
	height: auto;
	overflow: scroll;
	background-color: #FFFFFF;
	border: 1px solid #555555;
	padding: 1%;
	margin: auto;
}

div.movieImage{
	width:95%;
	height:60%;
	position: relative;
}

b.title{
	font-size: 50;
	color: #FF5555;
	text-align: center;
}

b.note{
	font-size: 30;
	color: #888888;
	text-align: left;
	float: center;
}

b.name{
	color: #222222;
	text-align: left;
}

a.link{
	font-size: 30;
	color: #FF3333;
	text-align: right;
	float :right;
	font: bold;
}

p.paragraph{
	font-size: 20px;
	color: #000000;
}

img.user{
	float: left;
	width: 60px;
	height: 60px;
	margin: 0px 0px 0px 0px;
}

img.movie{
	width: 100%;
	height: 100%;
	position: relative;
	max-width: 100%;
	max-height: 100%;
}