@CHARSET "UTF-8";
.rating-box { 
	background: url("/images/bkg_rating.png") repeat-x; 
	font-size: 0; 
	height: 13px; 
	line-height: 0; 
	overflow: hidden; 
	text-indent: -999em; 
	width: 70px; } 
.rating-box .rating { 
	background: url("/images/bkg_rating.png") repeat-x; 
	background-position: 0 100%; 
	float: left; 
	height: 13px; 
	} 
div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
}
img {
    width: 100px;
    height: 100px;
    background-color: grey;
}
.caption {
    display: block;
}

#container {width: 100%;}
#photo {float: left; width: 20%;}
#content {float: right; width: 80%;}

body {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 13px;
}
#wrapper { 
 margin: 0 auto;
 width: 100%;
}
#header {
 color: #333;
 width: 100%;
 padding: 1%;
 border: 1px solid #ccc;
 height: 100px;
 margin: 1%  1%  1%  1% ;
 background:#F6F0E0;
}
#navigation {
 width: 100%;
 color: #333;
 padding: 1%;
 border: 1px solid #ccc;
 background-color:#F3F2ED;
}
#leftcolumn { 
 color: #333;
 border: 1px solid #ccc;
 background:#F6F0E0;
 margin: 0px 0px 0px 20px;
 padding: 1%;
 height: 600px;
 width: 21%;
 float: left;
}
#leftmiddle { 
 color: #333;
 border: 1px solid #ccc;
 background:#CCC8B3;
 padding: 1%;
 height: 600px;
 width: 21%;
 float: left;
}
#rightmiddle { 
 color: #333;
 border: 1px solid #ccc;
 background:#F6F0E0;
 padding: 1%;
 height: 600px;
 width: 21%;
 float: left;
}
#rightcolumn { 
 color: #333;
 border: 1px solid #ccc;
 background:#CCC8B3;
 padding: 1%;
 height: 600px;
 width: 21%;
 float: left;
}