@CHARSET "UTF-8";

body{
	background-color: #DDDDDD;
}

textarea{
	font-size: 30px;
}


#BasicDiv{
	margin: 1px auto;
	border: 1px solid #ccc;
	padding: 1%;
	margin: 10px 10px 10px 10px;
	overflow: scroll;
}

#Outer{
    width: 95%;
    margin: 0 auto;
    position: relative;
	bottom: 1%;
    left: 1%;
}

div.leftColumn{
	background: #000000;
	width: 55%;
	height:700px;
	float: left;
}

div.centerColumn{
	background: #999999;
	width:20%;
	height: 700px;
	float: left;
}

div.rightColumn{
	background: #666666;
	width:12%;
	height: 700px;
	float: left;
}

div.left_top{
	background: #DDDDDD;
	position: relative;
	width: 100%;
	height: 30%;
}

div.left_bottom{
	background: #CCCCCC;
	position: relative;
	width: 100%;
	height: 69%;
	margin: 2% 0 0 0;
}

div.left_bottom_left{
	background: #DDDDDD;
	position: relative;
	width: 26%;
	height: 96%;
	margin: 1% 1% 1% 1%;
	float: left;
	overflow: scroll;
}

div.description{
	position: relative;
	width:100%;
	height:45%;
	overflow: scroll;
	float: left;
}

div.genre{
	position: relative;
	width:100%;
	height:45%;
	overflow: scroll;
	float: left;
}

#title{
	text-align: center;
}

p{
	color: #333333;
}

h2.genre{
	text-align: center;
	color: #AAAAFF;
}

div.left_bottom_right{
	background: #DDDDDD;
	position: relative;
	width: 70%;
	height: 96%;
	margin: 1% 1% 1% 1%;
	float: right;
	overflow: scroll;
}

div.avatar{
	width: 15%;
	height: 50%;
	left: 10%;
	top: 20%;
	position: relative;
}

img.profile{
	max-width: 100%;
	z-index: 997;
}

img.avatar{
	max-height: 100%;
	border: 2% solid transparent;
	z-index: 998;
}