@CHARSET "UTF-8";

body{
	background-color: #DDDDDD;
}

#text_title{
	text-align:center;
	color: #000000;
	font-size: 200;
}

#text_genre{
	text-align:center;
	color: #000000;
	font-size: 80;
}

textarea{
	font-size: larger;
}

.field{
	text-align: center; 
	margin: 0 auto;
}

.depth {
    display: block;
    border: 1px solid rgba(255,255,255,0.6);
    background: linear-gradient(#eee, #fff);
    transition: all 0.3s ease-out;
    box-shadow: 
    inset 0 1px 4px rgba(0,0,0,0.4);
    padding: 5px;
    color: #F00;
	text-align: center; 
	font-family:customfont;
    margin: 0 auto;
}
