<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app 
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" 
    "http://java.sun.com/dtd/web-app_2_3.dtd">

 <web-app>
   <display-name>Channel Subscription Servlets</display-name>
   <context-param>
     <param-name>BDBstore</param-name>
     <param-value>database</param-value>
   </context-param>
   
    <servlet>
     <servlet-name>user_page</servlet-name>
     <servlet-class>com.myapp.servlet.UserPage</servlet-class> 
   </servlet>
    
   <servlet-mapping>
     <servlet-name>user_page</servlet-name>
     <url-pattern>/userpage</url-pattern>
   </servlet-mapping>  
   
    <servlet-mapping>
     <servlet-name>user_page</servlet-name>
     <url-pattern>/tweet_user</url-pattern>
   </servlet-mapping>  
   
    
    <servlet-mapping>
     <servlet-name>user_page</servlet-name>
     <url-pattern>/tweet_home</url-pattern>
   </servlet-mapping>  
   
    <servlet-mapping>
     <servlet-name>user_page</servlet-name>
     <url-pattern>/follow</url-pattern>
   </servlet-mapping>  
   
     <servlet-mapping>
     <servlet-name>user_page</servlet-name>
     <url-pattern>/unfollow</url-pattern>
   </servlet-mapping>  
   
    <servlet>
     <servlet-name>test</servlet-name>
     <servlet-class>com.myapp.servlet.TestServlet</servlet-class> 
   </servlet>
   
   <servlet-mapping>
     <servlet-name>test</servlet-name>
     <url-pattern>/test_news</url-pattern>
   </servlet-mapping>  
   
   <servlet-mapping>
     <servlet-name>test</servlet-name>
     <url-pattern>/test_friends</url-pattern>
   </servlet-mapping>  
   
     <servlet-mapping>
     <servlet-name>test</servlet-name>
     <url-pattern>/test_groups</url-pattern>
   </servlet-mapping> 
   
   <servlet-mapping>
     <servlet-name>test</servlet-name>
     <url-pattern>/hometest</url-pattern>
   </servlet-mapping>  

   
   <servlet>
     <servlet-name>fblogin</servlet-name>
     <servlet-class>com.myapp.servlet.FBLogin.LoginServlet</servlet-class> 
   </servlet>
    
   <servlet-mapping>
     <servlet-name>fblogin</servlet-name>
     <url-pattern>/fb_login</url-pattern>
   </servlet-mapping>  
 
      
    <servlet>
     <servlet-name>account</servlet-name>
     <servlet-class>com.myapp.servlet.Account</servlet-class> 
   </servlet>
    
   <servlet-mapping>
     <servlet-name>account</servlet-name>
     <url-pattern>/register</url-pattern>
   </servlet-mapping>  
   
 
   <servlet-mapping>
     <servlet-name>account</servlet-name>
     <url-pattern>/login</url-pattern>
   </servlet-mapping>  

   <servlet-mapping>
     <servlet-name>account</servlet-name>
     <url-pattern>/logoff</url-pattern>
   </servlet-mapping>  

  <servlet-mapping>
     <servlet-name>account</servlet-name>
     <url-pattern>/setting</url-pattern>
   </servlet-mapping>  

    <servlet>
     <servlet-name>home</servlet-name>
     <servlet-class>com.myapp.servlet.HomePage</servlet-class> 
   </servlet>
    
   <servlet-mapping>
     <servlet-name>home</servlet-name>
     <url-pattern>/home</url-pattern>
   </servlet-mapping>  

	<servlet>
     <servlet-name>moviepage</servlet-name>
     <servlet-class>com.myapp.servlet.MoviePage</servlet-class> 
   </servlet>
     
   <servlet-mapping>
     <servlet-name>moviepage</servlet-name>
     <url-pattern>/moviepage</url-pattern>
   </servlet-mapping>  
   
    <servlet-mapping>
     <servlet-name>moviepage</servlet-name>
     <url-pattern>/likemovie</url-pattern>
   </servlet-mapping>  
   
    <servlet-mapping>
     <servlet-name>moviepage</servlet-name>
     <url-pattern>/unlikemovie</url-pattern>
   </servlet-mapping>  
   
     <servlet-mapping>
     <servlet-name>moviepage</servlet-name>
     <url-pattern>/sharemovie</url-pattern>
   </servlet-mapping> 
   
     <servlet-mapping>
     <servlet-name>moviepage</servlet-name>
     <url-pattern>/moviereview</url-pattern>
   </servlet-mapping> 

  <servlet>
     <servlet-name>search</servlet-name>
     <servlet-class>com.myapp.servlet.Search</servlet-class> 
     <load-on-startup>0</load-on-startup>
   </servlet>
       
   <servlet-mapping>
     <servlet-name>search</servlet-name>
     <url-pattern>/search_movie_result</url-pattern>
   </servlet-mapping>  
   
    <servlet-mapping>
     <servlet-name>search</servlet-name>
     <url-pattern>/search_movie_result_advanced</url-pattern>
   </servlet-mapping>  
 
 <servlet-mapping>
     <servlet-name>search</servlet-name>
     <url-pattern>/search_user</url-pattern>
   </servlet-mapping>  
   
   <servlet-mapping>
     <servlet-name>search</servlet-name>
     <url-pattern>/search_user_result</url-pattern>
   </servlet-mapping>  
  
  <servlet-mapping>
     <servlet-name>search</servlet-name>
     <url-pattern>/search_group</url-pattern>
   </servlet-mapping>  
   
   <servlet-mapping>
     <servlet-name>search</servlet-name>
     <url-pattern>/search_group_result</url-pattern>
   </servlet-mapping>  
   
    <servlet-mapping>
     <servlet-name>search</servlet-name>
     <url-pattern>/search_google</url-pattern>
   </servlet-mapping>  
   
   <servlet-mapping>
     <servlet-name>search</servlet-name>
     <url-pattern>/search_google_result</url-pattern>
   </servlet-mapping>  
   
    <servlet-mapping>
     <servlet-name>search</servlet-name>
     <url-pattern>/voice_search</url-pattern>
   </servlet-mapping> 
   
   <servlet>
     <servlet-name>group</servlet-name>
     <servlet-class>com.myapp.servlet.GroupServlet</servlet-class> 
   </servlet>
    
   <servlet-mapping>
     <servlet-name>group</servlet-name>
     <url-pattern>/create_group</url-pattern>
   </servlet-mapping>  
   
   <servlet-mapping>
     <servlet-name>group</servlet-name>
     <url-pattern>/join_group</url-pattern>
   </servlet-mapping>  
   
   <servlet-mapping>
     <servlet-name>group</servlet-name>
     <url-pattern>/leave_group</url-pattern>
   </servlet-mapping>  
   
    <servlet>
     <servlet-name>forbid</servlet-name>
     <servlet-class>com.myapp.servlet.Forbid</servlet-class> 
   </servlet>
   
    <servlet>
     <servlet-name>hashtag</servlet-name>
     <servlet-class>com.myapp.servlet.HashTagPage</servlet-class> 
   </servlet>
   
    <servlet-mapping>
     <servlet-name>hashtag</servlet-name>
     <url-pattern>/hashtag</url-pattern>
   </servlet-mapping>  
   
    
   
   <error-page>
   <error-code>404</error-code>
   <location>/htmls/404.html</location>
   </error-page>
  
   
   <!-- add any additional servlets and servlet mappings here -->
</web-app>
