<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app 
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" 
    "http://java.sun.com/dtd/web-app_2_3.dtd">

 <web-app>
   <display-name>Channel Subscription Servlets</display-name>
   <context-param>
     <param-name>BDBstore</param-name>
     <param-value>database</param-value>
   </context-param>
   
    <servlet>
     <servlet-name>user_page</servlet-name>
     <servlet-class>com.myapp.servlet.UserPage</servlet-class> 
   </servlet>
    
   <servlet-mapping>
     <servlet-name>user_page</servlet-name>
     <url-pattern>/user_page</url-pattern>
   </servlet-mapping>  
   
    <servlet-mapping>
     <servlet-name>user_page</servlet-name>
     <url-pattern>/tweet</url-pattern>
   </servlet-mapping>  
   
   <servlet-mapping>
     <servlet-name>user_page</servlet-name>
     <url-pattern>/test_news</url-pattern>
   </servlet-mapping>  
   
   <servlet-mapping>
     <servlet-name>user_page</servlet-name>
     <url-pattern>/test_friends</url-pattern>
   </servlet-mapping>  
 
      
    <servlet>
     <servlet-name>account</servlet-name>
     <servlet-class>com.myapp.servlet.Account</servlet-class> 
   </servlet>
    
   <servlet-mapping>
     <servlet-name>account</servlet-name>
     <url-pattern>/register</url-pattern>
   </servlet-mapping>  
   
 
   <servlet-mapping>
     <servlet-name>account</servlet-name>
     <url-pattern>/login</url-pattern>
   </servlet-mapping>  

   <servlet-mapping>
     <servlet-name>account</servlet-name>
     <url-pattern>/logoff</url-pattern>
   </servlet-mapping>  

  <servlet-mapping>
     <servlet-name>account</servlet-name>
     <url-pattern>/setting</url-pattern>
   </servlet-mapping>  

    <servlet>
     <servlet-name>home</servlet-name>
     <servlet-class>com.myapp.servlet.HomePage</servlet-class> 
   </servlet>
    
   <servlet-mapping>
     <servlet-name>home</servlet-name>
     <url-pattern>/home</url-pattern>
   </servlet-mapping>  

  <servlet>
     <servlet-name>search</servlet-name>
     <servlet-class>com.myapp.servlet.Search</servlet-class> 
     <load-on-startup>0</load-on-startup>
   </servlet>
    
   <servlet-mapping>
     <servlet-name>search</servlet-name>
     <url-pattern>/search_movie</url-pattern>
   </servlet-mapping>  
   
   <servlet-mapping>
     <servlet-name>search</servlet-name>
     <url-pattern>/search_movie_result</url-pattern>
   </servlet-mapping>  
   
    <servlet-mapping>
     <servlet-name>search</servlet-name>
     <url-pattern>/search_movie_result_advanced</url-pattern>
   </servlet-mapping>  
 
 <servlet-mapping>
     <servlet-name>search</servlet-name>
     <url-pattern>/search_user</url-pattern>
   </servlet-mapping>  
   
   <servlet-mapping>
     <servlet-name>search</servlet-name>
     <url-pattern>/search_user_result</url-pattern>
   </servlet-mapping>  
  
  <servlet-mapping>
     <servlet-name>search</servlet-name>
     <url-pattern>/search_group</url-pattern>
   </servlet-mapping>  
   
   <servlet-mapping>
     <servlet-name>search</servlet-name>
     <url-pattern>/search_group_result</url-pattern>
   </servlet-mapping>  

   <error-page>
   <error-code>404</error-code>
   <location>/htmls/404.html</location>
   </error-page>
   
   <!-- add any additional servlets and servlet mappings here -->
</web-app>
