@CHARSET "UTF-8";
.rating-box { 
	background: url("/images/bkg_rating.png") repeat-x; 
	font-size: 0; 
	height: 13px; 
	line-height: 0; 
	overflow: hidden; 
	text-indent: -999em; 
	width: 70px; } 
.rating-box .rating { 
	background: url("/images/bkg_rating.png") repeat-x; 
	background-position: 0 100%; 
	float: left; 
	height: 13px; 
	} 
